@model HijaDobrila2.Data.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2"> 
            @Html.DisplayNameFor(model => model.RoomNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
         @*   @Html.DisplayNameFor(model => model.Images)*@ 
        </dt>
        <dd class = "col-sm-10">
           <img src="@Html.DisplayFor(model => model.Images)"/>
        </dd>"
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForOneNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForOneNight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
