@model IEnumerable<HijaDobrila2.Data.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Стаи</h1>

<p>
    <a asp-action="Create">Създай нови стаи</a>
</p>
<table class="table">
    <thead class="rooms">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceForOneNight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Images)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceForOneNight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
