@model IEnumerable<HijaDobrila2.Data.Rezervation>

@{
    ViewData["Title"] = "Index";
}

<h1>Резервирай</h1>

<p>
    <a asp-action="Create">Създай нова резервация</a>
</p>
<table class="table">
    <thead class="index">
        <tr>
            <th>
                Номер на стая
            </th>
            <th>
                Брой възрастни
            </th>
            <th>
                Брой деца
            </th>
            <th>
                Дата на пристигане
            </th>
            <th>
                Дата на напускане
            </th>
            <th>
                Дата на резервация
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.AdultsNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildrensNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateArrived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRezervation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
